.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.box {
  width: 99%;
  height: 100%;
  background-color:  #E5E7E9;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.time {
  width: 100px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.notification {
  width: 100%;
  padding-left: 10px;
}

.bold {
  font-weight: bold;
}

.start {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.stockCodes {
  max-width: 75px;
  height: auto;
}